
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Raleway', sans-serif;


body {
  // overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: -10vh;
  background-color: #303F9F;
  margin-bottom: 5em;
}



h1 {
  font-family: 'Fjalla One', sans-serif;

}

h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
}


#main {
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color: #232735;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3vh;
  font-size: 1rem;
  z-index: 1;

}
#skills{
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color: #303F9F ;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem;
  z-index: 2;
}
.name{
  font-size: 4vh;
}
.top {
  height: 14vh;
}

.portrait {
  height:30vh;
  margin-top: 2vh;
  width: 0 auto;
  align-content: center;
}

.green{

  font-style:normal;
  text-align-last: center;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color:  #FF5252;
  font-weight: 500;
  font-size: 8vh;
  margin: 0 auto ;
}
.hori{
  color: white;
  background-color: white;
  height: 0.4vh;
  width: 80vw;
  justify-content: center;
  margin-bottom: 1vh;
}
.interest{
  color:black;
  font-family: 'Fjalla One', sans-serif;
  font-size: 5.5vh;
}
.tech{

  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color:  white;
  font-weight: 100;
  font-size: 1.5vh;
  padding-left: 4%;
  padding-right:4%;
  margin-bottom:-1vh;

}
.title{

  color:  #FF5252;
  font-size: 4vh;
  padding: 2vh;
  margin: -1vh;
  margin-top: 1vh;
}
.space{
  padding: 5vh;
}

.pink{
  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color: #00BCD4;
  font-weight: 500;

}

a{
  text-decoration: none;
  color: white;
}
Button{
  position:fixed;
  bottom:0;
  margin: 2vh

}

Button:hover{
  background-color:#1A237E !important;
  color: #FFF;
}

.button-name{

  font-size: 2vh;
  padding: 1vh;
  margin: 1vh;
}

.about-text{
font-size: 2vh;
font-weight: 400;
}

.text_box{
  text-align: center;
  color: white;

}
.about{
  color: #FF5252;
  font-size:5vh;
}

.description{
background-color: #232735;
height: 48vh;
}

.description_text{
  color: white;
  height:24vh;
  margin-top: -0.5vh;
  font-family: 'Raleway', sans-serif;
  // background-color: #232735;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3vh;
  font-size: 2vh;
  z-index: 1;
}
.tech-container{

  width:100%;
  height: 10vh;


}
.devicon-git-plain {
font-size: 500px;
}

.image{

  height: 100%;
  overflow: hidden;
  padding-top: 100%;
  box-sizing: border-box;
  position: relative;
}

.game_container{
  background: url(../images/thumb1.png);
  background-size: cover;
  position:relative;
  height: 30vh;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  background-position: center;
  background-color: #4D4E56;


}

.website_container{
  background: url(../images/thumb2.png);
  background-size: 100% 100%;
  position:relative;
  height: 30vh;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  background-position: center;
  background-color: #4D4E56;


}

.app_container{
  background: url(../images/thumb3.png);
  background-size: cover;
  position:relative;
  height: 30vh;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  background-position: center;
  background-color: #4D4E56;


}

.phone_container{
  background: url(../images/thumb4.png);
  background-size: cover;
  position:relative;
  height: 30vh;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  background-position: center;
  background-color: #4D4E56;


}



.devicon{
  font-size: 6vh;
  display:inline-flex;
  padding: 0.2em;
  margin-left: 10vh;
  background: -webkit-linear-gradient(#eee,  #FF5252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vertical{
  border-left: 1.2vw solid #FF5252;
   height: 25vh;
   margin-left: 2vw;
}
.projects{
  padding-left: 5vh;
  font-size: 10vh;
  text-transform:uppercase;
  color: white;

// .t-align{
// width: 200px;
// height:500px;
// }


.link-button {
  position:fixed;
  bottom:0;
  margin: 2vh;
}

Button{
  position:fixed;
  bottom:0;
  margin: 2vh

}

Button:hover{
  background-color:#1A237E !important;
  color: #FFF;
}
}
.overlay{
  position:fixed;
   background: url(../images/whitefooter.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:200%;
  margin-top:80vh;
  height:50%;
  z-index:-1;
}


@-webkit-keyframes scroll{
  100%{
    background-position: 0 -100px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }

}
