@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Fjalla One', sans-serif;

html {
  margin: 0;
  height: 100%;
}

div{
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

span{
  font-family: 'Open sans', sans-serif;
  font-size: 2vh;
}

// html::before,
// html::after,
// body::before,
// body::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: block;
//   width: 1vmin;
//   height: 1vmin;
//   border-radius: 20%;
//   color: transparent;
// }


h1 {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  height: 12vmin;
  width: 120vmin;
  display: flex;
  justify-content: center;
  position: relative;
}

// h1::before {
//   content: "";
//   // display: block;
//   margin-bottom: 10vh;
//   position: center;
//   z-index: -1;
//   top: -26vmin;
//   left: 29vmin;
//   width: 62vmin;
//   height: 62vmin;
//   border-radius: 50%;
//   border: 1.1vmin solid black;
//   // box-sizing: border-box;
// }


.circle-text:after  {
    content: "";
    display:flex;
    justify-content: center;
    // text-align: center;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    margin: 2vh;
    background: white;
    border: solid 4px black;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.circle-text div {
    text-transform:uppercase;
    // padding-top:4vh;
    border-color: solid 5px black;
    text-align:center;
    color:white;
}

em.planet{
  color: #34495e;
  font-size: 15vmin;
  position: relative;
  font-style: normal;
  // width: 20vmin;
  text-align: center;
}

.interest {
  color: #34495e;
  font-size: 5vmin;
  margin-left: 0.2vw;
  margin-right: 0.2vw;
  position: relative;
  font-style: normal;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  position: relative;
}

em.planet::before {
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 3.5vmin;
  z-index: -1;
  width: 13vmin;
  height: 13vmin;
  border-radius: 50%;

}

em.planet.left {
  -webkit-transform-origin: 40vmin 5vmin;
  transform-origin: 40vmin 5vmin;
}

em.planet.right {
  -webkit-transform-origin: -20vmin 5vmin;
  transform-origin: -20vmin 5vmin;
}

p.text{
  text-align: center;
  color: #34495e;
  font-size: 5vmin;
  padding-top: -20vh;
    font-family: 'Fjalla One', sans-serif;
  // margin-bottom: 2vh;
  margin-top: -2vh;
}
 b{
  color: pink;
  font-weight: 600;
 }
@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}
