@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Raleway', sans-serif;

// a:hover {
//     background-color: yellow;
// }
//
// .dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


body {
  // overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: -10vh;
  background-color: #303F9F;
  margin-bottom: 5em;
}

span{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vh;
  color: white;
}

a{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vh;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: 'Fjalla One', sans-serif;

}

h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
}

h4{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

P{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2rem;

}


#main {
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color: #232735;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem;
  z-index: 1;

}
#skills{
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color: #303F9F ;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem;
  z-index: 2;
}
.name{
  font-size: 4vh;
}
.top {
  height: 10vh;
}

.portrait {
  height:30vh;
  width: 0 auto;
  align-content: center;
}

.green{

  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color:  #FF5252;
  font-weight: 500;
  font-size: 10vh;
}
.hori{
  color: white;
  background-color: white;
  height: 0.4vh;
  justify-content: center;
}
.interest{
  color:black;
  font-family: 'Fjalla One', sans-serif;
  font-size: 6vh;
}
.green_show{

  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color:  black;
  font-weight: 100;
  font-size: 1.5vh;
  padding-left: 4%;
  padding-right:4%;

}
.title_show{
  padding-left: 4%;
  color:  #FF5252;
}
.space{
  padding: 5vh;
}

.pink{
  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color: #00BCD4;
  font-weight: 500;

}

.text_box{
  text-align: center;
  font-size: 2.4vh;
  color: white;

}
.about{
  color: #FF5252;
  font-size:2.4vh;
}

.description{
  color: #E4D7DE;
  background-color: #232735;
  padding: 1vh;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem;
  z-index: 1;
  height: 20vh;
}

.description_text{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4vh;
    padding: 2%;
    color: white;
    line-height: 20px;
}
.devicon-git-plain {
font-size: 14px;
}

 .image {
  width: 300px;
  position: relative;
  margin: 0 auto;
}

.image img {
  display: block;
  width: 100%;
}

.image:before {
  display: block;
  content: "";
  border-bottom: 20px solid #2D303E;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
}

.image:after {
  display: block;
  content: "";
  border-bottom: 20px solid #2D303E;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
}

.profilepic{
  height: 10%;
  border-radius: 100%;
  // background-image: url("../images/profilepic.png");
  width: 100px;
  border-radius: 100%;
}

.devicon{
  font-size: 4rem;
  display:inline-flex;
  padding: 0.2em;
  background: -webkit-linear-gradient(#eee,  #FF5252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .image_test{
   background-color: black;
   height:100px;
   width:100px;
    display:block-flex;
   padding: 0.2em;
   }

.overlay{
  position:fixed;
   background: url(../images/whitefooter.png);

  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
  margin-top:80vh;
  height:50%;
  z-index:-1;
}


@-webkit-keyframes scroll{
  100%{
    background-position: 0 -100px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }

}
