@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Raleway', sans-serif;



body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: -10vh;
  background-color: #2D303E;
}

span{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vh;
  color: white;
}

a{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vh;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: 'Fjalla One', sans-serif;

}

h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
}

h4{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

P{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2rem;

}

section {
  color: #E4D7DE;
  font-family: 'Raleway', sans-serif;
  background-color: #232735;
  padding: 2vh;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem;
  z-index: 1;

}

.top {
  height: 15vh;
}

.portrait {
  height:30vh;
  width: 0 auto;
  align-content: center;
}
// .circle-text:after  {
//     content: "";
//     display:flex;
//     width: 100%;
//     height:0;
//     padding-bottom: 100%;
//     background: url("https://i.imgur.com/CGuh7b6.jpg");
//     border: solid 4px black;
//     -moz-border-radius: 100%;
//     -webkit-border-radius: 100%;
//     border-radius: 100%;
// }
// .circle-text div {
//     text-transform:uppercase;
//     text-align:center;
//     color:white;
//     height: 2.5vh;
// }

.green{

  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color:  #6AD898;
  font-weight: 500;
}

.green_show{

  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color:  black;
  font-weight: 100;
  font-size: 1.5vh;
  padding-left: 4%;
  padding-right:4%;

}
.title_show{
  padding-left: 4%;
  color:  #6AD898;
}
.space{
  padding: 5vh;
}

.pink{
  font-style:normal;
  text-transform:uppercase;
  font-family: 'Fjalla One', sans-serif;
  color: pink;
  font-weight: 500;

}

.text_box{
  text-align: center;
  font-size: 2.4vh;

}

.description{
  color: #E4D7DE;
  background-color: #232735;
  padding: 1vh;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem;
  z-index: 1;
  height: 20vh;
}

.description_text{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4vh;
    padding: 2%;
    color: white;
    line-height: 20px;
}
.devicon-git-plain {
font-size: 14px;
}

 .image {
  width: 300px;
  position: relative;
  margin: 0 auto;
}

.image img {
  display: block;
  width: 100%;
}

.image:before {
  display: block;
  content: "";
  border-bottom: 20px solid #2D303E;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
}

.image:after {
  display: block;
  content: "";
  border-bottom: 20px solid #2D303E;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
}

.profilepic{
  height: 10%;
  border-radius: 100%;
  background-image: url("../images/profilepic.png");
  width: 100px;
  border-radius: 100%;
}

.devicon{
  font-size: 500%;

}


// .overlay{
//   position:fixed;
//    background:url(http://imgbox.com/2ANjQQ7s);
//   -webkit-animation:100s scroll infinite linear;
//   -moz-animation:100s scroll infinite linear;
//   -o-animation:100s scroll infinite linear;
//   -ms-animation:100s scroll infinite linear;
//   animation:100s scroll infinite linear;
//   top:0;
//   left:0;
//   width:100%;
//   margin-top:80vh;
//  height:50%;
// }


@-webkit-keyframes scroll{
  100%{
    background-position: 0 -100px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }

}
